MONGODB_URI=

NEXT_PUBLIC_WINROLL_CONTRACT_ADDRESS=
NEXT_PUBLIC_USDT_ADDRESS=0x48065fbBE25f71C9282ddf5e1cD6D6A887483D5e
NEXT_PUBLIC_CHAIN_ID=42220
CELO_RPC_URL=

NEXT_PUBLIC_ROUND_INTERVAL_MINUTES=30
NEXT_PUBLIC_BETTING_CUTOFF_SECONDS=60
NEXT_PUBLIC_MIN_BET_USDT=0.05
NEXT_PUBLIC_MAX_BET_USDT=1000
