CELO_RPC_URL=https://forno.celo.org
ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
CELOSCAN_API_KEY=

DEPLOYER_PRIVATE_KEY=
STAKE_TOKEN_ADDRESS=0x48065fbBE25f71C9282ddf5e1cD6D6A887483D5e
MIN_BET=1000000
MAX_BET=1000000000
OWNER_ADDRESS=
